<div>
    <div>
        <a href="">TheBandList</a>
    </div>
</div>

<div>
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink href="counter">
                <span></span> Counter
            </NavLink>
        </div>
        <div>
            <NavLink href="weather">
                <span></span> Weather
            </NavLink>
        </div>
    </nav>
</div>