<div>
    <div>
        <a href="">TheBandList</a>
    </div>
</div>

<div>
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                <span></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink href="classement">
                <span></span> Classement
            </NavLink>
        </div>
        <div>
            <NavLink href="envoyerunevideo">
                <span></span> Envoyer une vidéo
            </NavLink>
        </div>
    </nav>
</div>